<div class="container">
    <h1>Lista de compras</h1>

    <form class="add-item-form" #frm="ngForm" (ngSubmit)="adicionarItem()">
        <input 
            [(ngModel)]="item" 
            name="item"
            type="text" 
            id="item" 
            placeholder="Digite o nome do item" />

        <button type="submit">Adicionar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (elemento of lista; track elemento.id) {
                <tr>
                    <th>{{ elemento.id }}</th>
                    <th>{{ elemento.nome }}</th>
                    <th><input type="checkbox" /></th>
                </tr>
            } @empty {
                <tr colspan="3">
                    Nenum item na lista.
                </tr>
            }
        </tbody>
    </table>
</div>