* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0 8px 16px #CCC;
    padding: 20px 30px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4B4949;
}

.add-item-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 6px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #0056B3;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #007BFF;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056B3;
}

button[type="button"] {
    background-color: #D53D1F;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #007BFF;
    color: #FFF;
}


th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #DDD;
}

tbody tr:nth-child(odd){
    background-color: #f9f9f9;
}
 
tbody tr:nth-child(even){
    background-color: #e6f0ff;
}

input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.item-riscado {
    text-decoration: line-through;
}