<div class="container">
    <h1>Lista de compras</h1>

    <form class="add-item-form" #frm="ngForm" (ngSubmit)="adicionarItem()">
        <input 
            [(ngModel)]="item" 
            name="item"
            type="text" 
            id="item" 
            placeholder="Digite o nome do item" />

        <button type="submit">Adicionar</button>
        <button type="button" (click)="limparLista()">Limpar Lista</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (elemento of lista; track elemento.id) {
                <tr>
                    <th>{{ elemento.id }}</th>
                    <th>
                        <span [ngClass]="{ 'item-riscado' : elemento.comprado }">
                            {{ elemento.nome }}
                        </span>
                    </th>
                    <th>
                        <input 
                            type="checkbox" 
                            (click)="riscarItem(elemento)" 
                            [checked]="elemento.comprado" 
                        />
                    </th>
                </tr>
            } @empty {
                <tr colspan="3">
                    Nenum item na lista.
                </tr>
            }
        </tbody>
    </table>
</div>